{% extends 'ckanext_pages/blog_edit_base.html' %}

{% block page_primary_action %}
  {% if h.check_access('ckanext_pages_update', {}) %}
    {% link_for _('Add Article'), controller='ckanext.pages.controller:PagesController', action='blog_edit', page='', class_='btn btn-primary', icon=h.pages_get_plus_icon() %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{{ _('Blog') }}</h1>
  {% snippet 'ckanext_pages/snippets/pages_list.html', pages=c.page.items, type='blog' %}
  {{ c.page.pager() }}
{% endblock %}

{% block main_content %}
   <div class="primary span9">
     {{ self.primary_content() }}
   </div>
   {% block secondary %}
   {% set groups = h.montreal_get_groups() %}
   <aside class="secondary span3">

   <section class="module module-narrow module-shallow groups">
   <h2 class="module-heading">{{ _('Groups') }}</h2>
   <nav>
     <ul class="unstyled nav nav-simple nav-facet">
       {% for group in groups %}
       <li class="nav-item">
         <a href="{{ h.url_for(controller='group', action='read', id=group.name) }}"><span>{{group.display_name|truncate(40)}} ({{ group.package_count }})</span></a>
       </li>
       {% endfor %}
     </ul>
   </nav>
   </section>

   {% set current_url = h.full_current_url() %}
   <section class="module module-narrow module-shallow groups">
   <h2 class="module-heading">{{ _('Social') }}</h2>
     <ul class="unstyled nav nav-simple nav-facet">
       <li class="nav-item"><a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
       <li class="nav-item"><a href="https://plus.google.com/share?url={{ current_url }}" target="_blank"><i class="fa fa-google-plus"></i> Google+</a></li>
       <li class="nav-item"><a href="http://www.linkedin.com/shareArticle?mini=true&url={ current_url }&source=Portail%20donn%C3%A9es%20ouvertes%20de%20la%20Ville%20de%20Montr%C3%A9al" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
       <li class="nav-item"><a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
     </ul>
   </section>

   </aside>
   {% resource 'ckanext-pages/blog' %}
   {% endblock %}
{% endblock %}
